{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<h1 class="text-center fw-bold text-dark mt-4 display-5" style="font-weight: 300;">Ingresar</h1>

<div class="row justify-content-center">
  <div class="col-md-6">
    <form id="form" method="POST" class="border border-2 border-primary p-4">
      {% csrf_token %} 

      <div class="mb-3 row">
        <label for="id_username" class="col-sm-4 col-form-label fw-bold">Cuenta</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="id_username" name="username" value="">
        </div>
      </div>

      <div class="mb-3 row">
        <label for="id_password" class="col-sm-4 col-form-label fw-bold">Contraseña</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="id_password" name="password">
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary fw-bold" style="font-weight: 300;">Ingresar</button>
      </div>
    </form>
  </div>
</div>

<!-- Combobox de usuarios -->
<div class="row justify-content-center mt-3">
  <div class="col-md-6 text-center">
    <select id="user-select" class="form-select" style="width: 300px;">
      <option value="">Seleccionar usuario</option>
      <option value="cevans">cevans</option>
      <option value="eolsen">eolsen</option>
      <option value="tholland">tholland</option>
      <option value="sjohansson">sjohansson</option>
      <option value="cpratt">cpratt</option>
      <option value="mruffalo">mruffalo</option>
      <option value="super">super</option>
    </select>
  </div>
</div>

{% endblock content %}

{% block script %}
<script src="{% static 'core/js/ingresar.js' %}"></script>
{% endblock script %}
